<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to "Insert Title"!</h1>
      <p class="lead">Please login to get started</p>
    </div>
  </div>
  <div>
    <form id="signin" name="signin" method="post" action="signin">
      <label for="email">Email Address</label><br>
      <input class="text" name="email" type="text" /><br>
      <label for="password">Password</label><br>
      <input name="password" type="password" /><br>
      <input class="btn btn-success" type="submit" value="Sign In" />
      <a class="btn btn-primary" href="/signup">Sign Up</a>
    </form>
  </div>
</div>