<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Sign Up Page</h1>
      <p class="lead">Start up your account</p>
    </div>
  </div>
  <div>
    <form id="signup" name="signup" method="post" action="/signup">
      <label for="email">Email Address</label><br>
      <input class="text" name="email" type="email" /><br>
      <label for="firstname">Firstname</label><br>
      <input name="firstname" type="text" /><br>
      <label for="lastname">Lastname</label><br>
      <input name="lastname" type="text" /><br>
      <label for="password">Password</label><br>
      <input name="password" type="password" /><br>
      <input class="btn btn-primary" type="submit" value="Sign Up" />
    </form>
  </div>
</div>