body {
  font-family: 'Kanit', sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
/* NAVBAR */
.navbar {
  background-color: #212529;
  color: rgb(205, 52, 71);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.4s;
  z-index: 500;
}

/* Brand */
.navbar-brand {
 font-size: 30px;
  color: rgb(205, 52, 71)!important;
  
  
}



/* Changes color when hovering brand */
.navbar-brand:hover {
 
  color: rgb(198, 199, 200)!important;
  
}

#mainNav .navbar-toggler {
  font-size: 12px;
  /* right: 0; */
  /* padding: 13px; */
  text-transform: uppercase;
 
  /* border: 0; */
  background-color: rgb(205, 52, 71);
}

/* Brand color */
#mainNav .navbar-brand {
  color: rgb(205, 52, 71);
}

/* Nav color */
.nav-link {
  color: rgb(205, 52, 71)!important;
}

/* Nav link hover color */
.nav-link:hover {
  color: rgb(198, 199, 200)!important;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

.nav-item {
  /* REMOVES DOTS FORM LIST */
  list-style: none;
}


#mainNav .navbar-nav .nav-item .nav-link {
  color: rgb(205, 52, 71);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: red;
  text-decoration: none;
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


/* Member and group ID */
#member-id{
  display: none;
}
#group-id{
  display: none;
}

#displayGroup {
  display: none;
}

/* Group Icons */
.groupIcons
{
  height: 54px;
  width: 54px;
  margin: 5px;
}
/* Service Icons */
.serviceIcons {
  height: 54px;
  width: 54px;
  margin: 10px;
}

/* Section headings positioning */
.section-headingAbout {
  margin-top: 10px;
}


/* GROUP Row */
.groupRow {
  
}

/* Buttons */
/* Create Group */
#createGroupBTN {
  /* margin-bottom: 20px;  */
}


/* Join Group */

/* #joinGroupBTN {
  margin: 0 0 0 20px;
} */
/* Leave Group */
/* #leaveGroupBTN {
  margin: 20px;
}

/* Delete User */
/* #deleteUserBTN {
  margin: 20px;
} */ 