body {
    background-color: black;
    background-image: url("connectwork.png");
    color: red;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand {
    color: red!important;
}
.main {
    width: 100%;
   
}

img {
    height: 200px;
   
}

.card {
    height: 500px;
}
/* HEADER */
#header {
    margin-top: 2%;
}

.title {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    margin: auto;
    fill: transparent;

}

.signInButton {
    position: absolute;
    right: 5%;
   
    
}


/* MAIN CONTENT */
.attentionGrabber {
    /* background-color: red; */
    margin: 5%;
}

.mainText {
    /* font-size: 45px; */
width:100%
;    
text-align: center;
}

 .startShare {
    width: 50%;
    margin: 5% 25%;
} 



/* Font Icons */

.fas, .far {
    color: white;
    font-size: 50px;
    margin-top: 3%;
    text-decoration:none
}

.shareIcon, .scheduleIcon, .servicesIcon {
color: white;
text-decoration:none!important;
box-shadow:none;
}

.iconWord {
    color:white;
}
/* Hover */

.shareIcon:hover, .scheduleIcon:hover, .servicesIcon:hover {
    color: black;
}
/* Features */
.features {
    
    background-color: rgb(205,52,71);
    height: 100px;
  
    text-align: center;
}


th {
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
  text-align: center;
}

hr {
    background-color: white;
}

.display {
    margin-top: 3%;
    text-align: center;
}